/* RESET EVERYTHING
* {
  margin: 0;
  padding: 0;
} */
#main_header {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 1cm;
}
body {
  background-color: white;
  color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;

  /* Same as above
  font: normal 18px Arial, Helvetica, san-serif */
  line-height: 1cm;
}
.box_1 {
  background-color: gray;
  color: white;
}
.box_2 {
  background-color: yellow;
  color: black;
  padding: 10px;
  margin: 50px;
  border: 10px blue dotted;
}
.container {
  /* width: 700px; */
  width: 80%;
  margin: auto;
  /*  SAME AS ABOVE 
  margin: 5px 10px 5px 10px;
          top right bottom left
  margin: 5px 10px;
          top = bot = 5px, right = left = 10px
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px; 
  same format as padding, border */

  border-right: 5px red solid;
  border-left: 5px red solid;
  border-top: 5px red solid;
  border-bottom: 5px red solid;
    /* SAME AS ABOVE
    border: 5px red solid; */

  border-width: 5px;
  border-bottom-width: 1px;
  border-left-style: solid;

  padding: 30px;
  margin: 50px;
}
.clr {
  clear: both;
}
.box_1 h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-decoration: underline;
  word-spacing: 0.8cm;
  letter-spacing: 0.2em;
}
.Categories {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: skyblue;
  width: 80%;
  border: 3px red solid;
  border-radius: 15px;
  padding: 30px;
  margin: 10px;
  margin-left: 40px;
  color: black;
}

.Categories h3 {
  text-align: center;
  text-decoration: underline;
}
.Categories ul {
  padding: 5px;
  list-style: square;
}
a {
  color: blue;
  text-decoration: none;
}

/* effect when I touch the link */
a:hover {
  color: red;
  text-decoration: underline;
}
a:active {
  color: yellow;
}
a:visited {
  color: gray;
}
.Categories li {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  padding-top: 10px;
}
.header_1 {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
.my_form {
  background-color: antiquewhite;
  padding: 20px;
}
.form_group {
  padding: 5px;
}
.my_form input[type="text"], .my_form textarea {
  width: 100%;
  padding: 10px;
}
.button {
  background-color: blueviolet;
  color: white;
  border: 2px white solid;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}
.fix_me {
  position: fixed;
  top: 400px;
  left: 50px;
}
.button:hover {
  background-color: red;
}
.block h3 {
  color: cadetblue;
  text-decoration: underline wavy;
  margin-bottom: 0;
  text-align: center;
}
.block {
  color: green;
  background-color: blanchedalmond;
  width: 32%;
  height: 500px;
  border: 1px black solid;
  padding: 4px;
  font-size: 14px;
  text-align: left;
  float: left;
  box-sizing: border-box;
}

#main_block {
  float: left;
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
}
#side_bar {
  float: right;
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
  background-color: black;
  color: white;
}
.p_box {
  text-align: left;
  width: 800px;
  height: 500px;
  border: 1px solid black;
  margin-top: 50px;
  position: relative;
  background-image: url('./images/bg.jpg');
}

.p_box h1 {
  position: absolute;
  top: 100px;
  left: 200px;
}
.p_box h2 {
  position: absolute;
  bottom: 40px;
  right: 100px;
}

.my_list li:first-child {
  background-color: red;
}
.my_list li:last-child {
  background-color: blue;
}
.my_list li:nth-child(5) {
  background-color: yellow;
}